{% extends 'consulta.base.html' %}
{% load staticfiles %}
{% block title %}Recuperar Contraseña{% endblock %}
{% block contenido %}
    <div class="center">
        <h1>Confirme su contraseña</h1><hr>
        <form action="" method="post">
            {% csrf_token %}
            <ul>
                <li class="text-left">Su contraseña no puede asemejarse tanto a su otra información personal.</li>
                <li class="text-left">Su contraseña debe contener por lo menos 8 caracteres.</li>
                <li class="text-left">La contraseña no puede ser una contraseña de uso común.</li>
                <li class="text-left">Su contraseña no puede ser completamente numérica.</li>
            </ul><br>

            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="input-field {% if form.new_password1.errors %}invalid{% endif %}">
                    {{ form.new_password1 }}
                    <label for="{{ form.new_password1.auto_id }}">
                        {{ form.new_password1.label }}
                    </label>
                    {% include 'base.forms.errors.html' with form_errors=form.new_password1.errors col_title_error='col s2' col_msg_error='col s10' %}
                </div>
            </div><br><br><br>
          
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="input-field {% if form.new_password2.errors %}invalid{% endif %}">
                    {{ form.new_password2 }}
                    <label for="{{ form.new_password2.auto_id }}">
                        {{ form.new_password2.label }}
                    </label>
                    {% include 'base.forms.errors.html' with form_errors=form.new_password2.errors col_title_error='col s2' col_msg_error='col s10' %}
                </div>
            </div><br><br><br>
            <div class="col-md-12 col-sm-12 col-xs-12">
                <button type="submit" class="btn waves-effect deep-orange lighten-1">Confirmar</button>
            </div>
        </form>
    </div>
{% endblock %}