{% load static from staticfiles %}
<script type="text/javascript">
    // URL para actualizar el combo
    var URL_ACTUALIZAR_COMBO = "{% url 'actualizar_combo' %}" ;
    
    // URL para crear preguntas
    var URL_CREAR_PREGUNTAS = "{% url 'question_create_nk' %}" ;
    
    // URL para actualizar preguntas
    var URL_ACTUALIZAR_PREGUNTAS = "{% url 'question_update' %}" ;
    
    // URL para eliminar preguntas
    var URL_ELIMINAR_PREGUNTAS = "{% url 'question_delete_nk' %}" ;
    
    // URL para listar preguntas
    var URL_LISTAR_PREGUNTAS = "{% url 'ajax_pregunta_list_nk' %}" ;
    
    // URL para crear opciones
    var URL_CREAR_OPCIONES = "{% url 'option_create_nk' %}" ;
    
    // URL para actualizar opciones
    var URL_ACTUALIZAR_OPCIONES = "{% url 'option_update' %}" ;
    
    // URL para eliminar opciones
    var URL_ELIMINAR_OPCIONES = "{% url 'opciones_delete_nk' %}" ;
    
    // URL para listar opciones
    var URL_LISTAR_OPCIONES = "{% url 'ajax_opciones_list_nk' %}" ;
    
</script>
    