{% extends 'consulta.base.html' %}
{% load staticfiles %}
{% block title %}Crear Consulta{% endblock %}
{% block contenido %}
    <form action="{% url 'consulta_create' %}" role="form" class="form form-horizontal validate-form" method="post" autocomplete="off">
        {% csrf_token %}
        <div class="center">
            <h1>Crear Consulta</h1><hr>
            {% for field in form %}
                {% if field.label != "Token" %}
                    <div class="input-field {% if field.errors %}invalid{% endif %}">
                        {{ field }}
                        <label for="{{ field.auto_id }}">
                            {{ field.label }}
                        </label>
                        {% include 'base.forms.errors.html' with form_errors=field.errors col_title_error='col s2' col_msg_error='col s10' %}
                    </div>
                {%endif%}
             {% endfor %}
             <div>
                <h5 class="deep-orange-text lighten-1">
                    Agregar Más Preguntas
                    <a class="deep-orange-text lighten-1" href="#!" onclick="agregar_preguntas('#preguntas')"><i class="material-icons">add_circle_outline</i></a>
                </h5>
            </div>
            <div id="agregar_preguntas"></div>
             <div>
                 <a type="button" class="btn waves-effect deep-orange lighten-1" href="{% url 'consulta_index' %}">Regresar</a>
                <button type="submit" class="btn waves-effect deep-orange lighten-1">Crear</button>
             </div>
        </div>
    </form>
    {% if opciones %}
        <script>
            var opciones = {{ opciones | safe }};
        </script>
    {% endif %}
{% endblock %}
{% block extraJs %}
<script>
    $(document).ready(function(){
        var button = $('button').attr({'type':'submit'});
        button.click(function(e){
            validar_preguntas(e);
        });
        if (typeof opciones !== 'undefined') {
            cargar_preguntas();
        }
    });
</script>
{%endblock%}