{% extends 'consulta.base.html' %}
{% load staticfiles %}
{% block title %}Crear Consulta{% endblock %}
{% block contenido %}
    <form action="{% url 'consulta_create' %}" role="form" class="form form-horizontal validate-form" method="post" autocomplete="off">
        {% csrf_token %}
        <div class="center">
            <h1>Crear Consulta</h1><hr>
            <div class="input-field {% if form.nombre_consulta.errors %}invalid{% endif %}">
                {{ form.nombre_consulta }}
                <label for="{{ form.nombre_consulta.auto_id }}">
                    {{ form.nombre_consulta.label }}
                </label>
                {% include 'base.forms.errors.html' with form_errors=form.nombre_consulta.errors col_title_error='col s2' col_msg_error='col s10' %}
            </div>
            <div class="input-field {% if form.activa.errors %}invalid{% endif %}">
                <p>
                    <label for="{{ form.activa.auto_id }}">
                        {{ form.activa }}
                        <span>{{ form.activa.label }}</span>
                    </label>
                </p>
                {% include 'base.forms.errors.html' with form_errors=form.activa.errors col_title_error='col s2' col_msg_error='col s10' %}
            </div>
            <div class="input-field {% if form.texto_pregunta.errors %}invalid{% endif %}">
                {{ form.texto_pregunta }}
                <label for="{{ form.texto_pregunta.auto_id }}">
                    {{ form.texto_pregunta.label }}
                </label>
                {% include 'base.forms.errors.html' with form_errors=form.texto_pregunta.errors col_title_error='col s2' col_msg_error='col s10' %}
            </div>
            <div class="input-field {% if form.tipo_pregunta.errors %}invalid{% endif %}">
                {{ form.tipo_pregunta }}
                <label for="{{ form.tipo_pregunta.auto_id }}">
                    {{ form.tipo_pregunta.label }}
                </label>
                {% include 'base.forms.errors.html' with form_errors=form.tipo_pregunta.errors col_title_error='col s2' col_msg_error='col s10' %}
            </div>
             <div>
                <h5 class="deep-orange-text lighten-1">
                    Agregar Más Preguntas
                    <a class="deep-orange-text lighten-1" href="#!" onclick="agregar_preguntas('#preguntas')"><i class="material-icons">add_circle_outline</i></a>
                </h5>
            </div>
            <div id="agregar_preguntas"></div>
             <div>
                 <a type="button" class="btn waves-effect deep-orange lighten-1" href="{% url 'consulta_index' %}">Regresar</a>
                <button type="submit" class="btn waves-effect deep-orange lighten-1">Crear</button>
             </div>
        </div>
    </form>
    {% if opciones %}
        <script>
            var opciones = {{ opciones | safe }};
        </script>
    {% endif %}
{% endblock %}
{% block extraJs %}
<script>
    $(document).ready(function(){
        var button = $('button').attr({'type':'submit'});
        button.click(function(e){
            validar_preguntas(e);
        });
        if (typeof opciones !== 'undefined') {
            cargar_preguntas();
        }
    });
</script>
{%endblock%}